{{> header title=subject }}
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;background:#ffffff;">
  <tr>
    <td style="padding:32px;">
      <p style="font-size:16px;margin:0 0 16px 0;color:#1e1e1e;">Hi {{#if firstName}}{{firstName}}{{else}}there{{/if}},</p>
      <p style="font-size:14px;margin:0 0 16px 0;color:#333333;">We noticed that your password was changed on {{formattedChangedAt}}.</p>
      {{#if ipAddress}}
        <p style="font-size:13px;margin:0 0 8px 0;color:#555555;">IP Address: <strong>{{ipAddress}}</strong></p>
      {{/if}}
      {{#if device}}
        <p style="font-size:13px;margin:0 0 8px 0;color:#555555;">Device: <strong>{{device}}</strong></p>
      {{/if}}
      <p style="font-size:13px;margin:16px 0 0 0;color:#555555;">If this was not you, please reset your password immediately and contact support.</p>
    </td>
  </tr>
</table>
{{> footer year=year }}
